.transfer_component{
    background: var(--bg-color);
}

.transfer_component .ant-collapse-item .ant-collapse-content .ant-collapse-content-box{
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 1.5rem;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-collapse .ant-collapse-content>.ant-collapse-content-box {
    padding-right: 0px;
}

label.ant-checkbox-wrapper span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.transfer_component_table_container {
    overflow-y: hidden !important;
}

.transfer_component_table_container:hover {
    overflow-y: auto !important;
}

label.ant-checkbox-wrapper.css-dev-only-do-not-override-15rg2km {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.transfer_component .ant-collapse-item .ant-collapse-header{
    padding-left: 0.2rem;
}

.transfer_component .transfer_component_table_container{
    background-color: var(--bg-color);
    border: 1px solid #E9E7F8;
    border-radius: 8px;
    min-height: calc(75vh - 5.5rem) !important;
    max-height: calc(75vh - 5.4rem) !important;;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    gap: 5px;
    overflow: auto;
}

.transfer_component .transfer_component_table_container .ant-row{
    width: 100%;
    overflow: auto;
}

.transfer_component .transfer_component_icons_transfer_container{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.transfer_component .transfer_component_icons_transfer_container .transfer_component_icons_transfer{
    cursor: pointer;
}