.ant-form-item .ant-input {
    height: 35px;
    width: 180px !important;
    padding: 3px 10px 3px 10px;
    border: 1px solid #E9E7F8;
}

.ant-select-selector {
    height: 35px !important; 
    width: 180px !important;
}

.ant-select {
    width: 180px !important;
}

