.card-container {
    background-color: var(--bg-container) !important;
    min-height: calc(100vh - 5.2rem);
    left: 14px;
    border-radius: 8px;
    width: calc(100vw - 2.5rem);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    border: none;
}


.card-body {
    background-color: var(--bg-color);
    border: none;
    min-height: calc(93vh - 5.2rem) !important;    
}


.card-body .ant-card-body{
    padding-top: 0px !important;
}

.ant-table-title {
    font-weight: 600;
    background-color: var(--bg-color) !important;
    color: var(--bg-container) !important;

}



.ant-table-wrapper .ant-table-thead>tr>th {
    font-weight: 400;
    font-size: 14px !important;
    color: var(--high-gray) !important;
    
}

.ant-table-wrapper .ant-table-thead>tr>th.ant-table-selection-column{
}


/* .ant-table-wrapper .ant-table .ant-table-title+.ant-table-container table>thead>tr:first-child td:last-child {
    color: transparent; /* Hace el texto transparente */
  text-shadow: none; /* Elimina cualquier sombra de texto */
  background-color: transparent; /* Hace el fondo de la celda transparente */
  border-color: transparent; /* 
} */

th.ant-table-cell .ant-space-item {
    color: var(--high-gray) !important;
    width: max-content !important;
}

.ant-space .ant-input {
    background-color: var(--bg-color) !important;
}



.ant-space-item .ant-input::placeholder {
    color: var(--high-gray);
}

tr.editable-row:hover td.ant-table-cell {
    background-color: var(--background-rows-hover) !important;
}

.ant-table-wrapper .ant-table-tbody>tr>td {

}

.editable-cell-value-wrap {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.editable-cell-value-wrap:hover {
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    
}




.ant-form-item .ant-input {
    height: 18px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: var(--bg-color);
    color: var(--font-color);
}





.ant-table-container {
    border-left: none !important;
    border-right: none !important;
    background-color: var(--bg-color) !important;
}


thead .ant-table-cell {
    background-color: var(--bg-color) !important;
}

tr.ant-table-row-selected.editable-row {
    background-color: var(--background-rows-hover) !important;
}




.ant-select-item-option {
    background-color: var(--bg-color) !important;
}


.ant-select-item-option:hover {
    background-color: var(--background-rows-hover) !important;
}


.ant-select-selector {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    background-color: var(--bg-color) !important;
    padding-left: 2px !important;
    height: 22px !important;
}

.ant-select-selection-placeholder {
    color: var(--high-gray) !important;
}

.mostrarOcultar {
    border: 1px solid transparent !important;
    cursor: pointer !important;
    background-color: var(--bg-color) !important;
    color: var(--input-select-activate) !important;
}

#mi-lista>li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 217px;
    height: 24px;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    cursor: pointer;
    color: var(--high-gray);


}

.ant-pagination-item.ant-pagination-item-active {
    background-color: var(--bg-color);
}

.ant-pagination {
    position: fixed;
    right: 4%;
}


.configuration {
    width: 104px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;

}

.iconConfiguration {
    width: 20px;
    height: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px !important;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;

}



.titleForm {
    padding-left: 20px !important;
}

.closeCardForm {
    padding-left: 126px !important;
}

.closeCardForm .anticon {
    color: var(--dark-blue) !important;
}

.closeCardForm .ant-btn {
    border: none !important;
}

.ant-table-row.ant-table-row-level-0:hover>td .iconDelete {
    visibility: visible !important;
}







.render-message-delete {
    background: rgba(255, 164, 18, 0.15);
    color: #EA9000;
    width: 100%;
    height: 37px;
    border: 1px solid #EA9000;
    border-radius: 8px;
    padding: 8px 20px;
}

.render-message-insert {
    background: rgba(0, 195, 46, 0.15);
    color: #00BA2C;
    width: 100%;
    height: 37px;
    border: 1px solid #00BA2C;
    border-radius: 8px;
    padding: 8px 20px;
}




.ant-checkbox-inner {
    border: 2px solid #9396AA !important;
    border-radius: 4px !important;
}

.iconDelete {
    cursor: pointer;
}


.changes-color {
    color: var(--font-color-list-activate) !important;
    background-color: var(--backgorund-color-list-activate) !important;
}