.user_settings_icon_user .icono_user_svg{
    transform: scale(1.5);
}

.user_settings_title{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    display: flex;
    justify-content: flex-start;
}

.user_settings_close_icon .anticon-close{
    font-size: 1.3rem;
    cursor: pointer;
}

.user_settings_rectangle-25-yrx{
    width: 3.3rem;
    height: 3.4rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
    flex-shrink: 0;
}

.user_settings_name_and_rol_name{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    display: flex;
    justify-content: flex-start;
}

.user_settings_name_and_rol_rol{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    justify-content: flex-start;
}

.user_settings_change_rol_icon .icon_change_roll_svg{
    transform: scale(1.2);
}

.pop_over_element{
    background-color: brown;
}

.user_settings_log_out_icon .icon_log_out_svg{
    transform: scale(1.2);
    cursor: pointer;
}

.user_settings_sub_title{
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    padding-top: 1.5rem;

    display: flex;
    justify-content: flex-start;
}

.user_settings_select_input .ant-select{
    width: 100%;
    height: 2.5rem;
}

.user_settings_select_input .ant-select .ant-select-selector{
    height: 2.5rem !important;
    border-radius: 8px;
    padding: 3px 10px;
    font-weight: 400;
    font-size: 18px;
    gap: 37px;

    border: 1px solid #E9E7F8,
}

.user_settings_select_input .ant-select .ant-select-selector .ant-select-selection-placeholder{
    padding: 3px 10px;
}

.user_settings_select_input .ant-select .ant-select-selector .ant-select-selection-item{
    padding: 3px 10px;
}

.user_settings_save_button{
    padding-top: 2rem;
    padding-left: 1rem;
}

.user_settings_save_button .icon_save_svg{
    transform: scale(1.5);
    cursor: pointer;
}

.user_settings_numeric_input .ant-input-number{
    width: 100%;
    height: 2.5rem;
    border: 1px solid rgb(233, 231, 248);
    border-radius: 8px;
    background: var(--bg-color);
}

.user_settings_numeric_input .ant-input-number .ant-input-number-input-wrap{
    height: 2.5rem !important;
    padding: .3rem 5px;
    font-weight: 400;
    font-size: 18px;
    gap: 37px;
}

.user_settings_numeric_input .ant-input-number .ant-input-number-input-wrap .ant-input-number-input{
    color: var(--font-color);
}

.user_settings_loading_spin{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.user_settings_text_input {
        border-radius: "8px";
        border: "1px solid rgb(233, 231, 248)";
        padding: "3px 10px";
        width: "100%";
        height: "2.5rem";
        gap: '37px';
        font-weight: '400';
        font-size: '18px';
        backGround: 'red';
}