/* .ant-form-item .ant-input {
    height: 35px;
    width: 100% !important;
    padding: 3px 10px;
    border: 1px solid #E9E7F8;
}

.ant-select-selector {
    border-radius: 8px;
    border: 1px solid #e2e2e2;
    background-color: transparent!important;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 10px;
    gap: 37px;
    height: 35px!important;
    width: 100%;
    left: 0px;
    top: 0px;

}

:where(.css-dev-only-do-not-override-15rg2km).ant-select {
    width: 240px !important;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-row {
    margin-right: 6px;
} */

.contenedor-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .columna {
    flex-basis: calc(50% - 16px);
    padding: 16px;
  }
