.formulario {
    padding-top: 20px;
    min-height: calc(93vh - 9.2em);
    width: auto;
}

.formulario .ant-row {
    row-gap: 10px !important;
}
.formulario .ant-form-item {
    margin-bottom: 0;
}
.formulario .ant-form-item .ant-form-item-control-input-content input, .formulario .ant-form-item .ant-form-item-control-input-content .ant-select, .formulario .ant-form-item .ant-form-item-control-input-content .ant-select .ant-select-selector, .ant-form-item-control-input-content .ant-picker {
    width: 100% !important;
}

.layout-establecimeinto .ant-layout {
    background-color: white;
}


.form-container {
    display: flex;
}

.form-column {
    flex: 1;
}


.form-field {
    position: relative;
}


.form-field .placeholder {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: transparent !important;
    font-size: 12px !important;
    transition: top 0.2s, left 0.2s;
    color: #9396AA;
    /* width: "45%" !important;
    overflow: "hidden"!important;
    text-overflow: "ellipsis" !important;
    white-space: "nowrap" !important; */
}




.form-field .ant-picker:hover {
    border-color: var(--mid-blue) !important;
}


.form-field .ant-form-item-control-input-content .ant-input{
    border-radius: 8px;
    background-color: transparent !important;
    z-index: 2;
    gap: 37px;
    width: 200px !important;
    height: 35px !important;
    text-overflow: ellipsis;
}

.form-field input:hover {
    border-color: var(--mid-blue);
    cursor: pointer;
}

.form-field input:focus {
    border-color: var(--mid-blue);
    cursor: auto;
}

.form-field .ant-select {

    height: 35px !important;
    width: 200px !important;

}

.form-field .ant-select .ant-select-selector {
    border-radius: 8px;
    border: 1px solid #e2e2e2;
    background-color: transparent !important;
    z-index: 2;
    height: 35px !important;
    width: 200px !important;
    left: 0px;
    top: 0px;
}



.ant-select-selection-placeholder {
    display: none;
}

.form-field .ant-select .ant-select-selector:hover {
    border-color: var(--mid-blue) !important;
}


.form-field .placeholder.active {
    top: 0px;
    left: 8px;
    font-size: 12px;
    background-color: white !important;
    padding: 0px 2px;
    color: var(--high-gray) !important;
    z-index: 2;
    text-transform: lowercase;
    width: auto !important;
}