custom-table{
    border-collapse: collapse;
    width: 100%;
}

.custom-table th {
  color: var(--high-gray);
  font-size: 14px;
  font-weight: 400;
}
  
  .custom-table td {
    
    border-bottom: 1px solid;
    border-color: var(--mid-gray);
    
  }

