.side-options-container {
    position: absolute;
    z-index: 9999;
    padding-right: 0rem;
    padding-bottom: 0.85rem;
    bottom: 0.85rem;
    right: 0.5rem;
}

.side-options-element{
    background-color: var(--bg-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.625rem;
    box-shadow: var(--menu-box-shadow);
    border: 1px solid var(--side-menu-border-color);
    flex-wrap: nowrap;
    gap: 0.625rem;
}

.side-option-icon:hover{
    cursor: pointer;
}